
tr{
    height: 65px;
    width: 250px;
}

td{
    font-size: 25px;
}

input[type=checkbox]
{
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  transform: scale(1.5);
  padding: 10px;
}