.slider{
    margin-left:390px;
    margin-top: 50px;
    width: auto;
    height: 450px;
}

.img-box{
    position: fixed;
    margin-left: 150px;
}

.img-box img{
    width: 500px;
    height: 450px;
}

.btn{
    border:none;
    outline:none;
    background-color: rgb(179, 179, 179);
    cursor: pointer;
    position: fixed;
    height: 450px;
    width: 100px;
    transition: 0.3s;
    border-radius: 25px;
}

.btn img{
    height: 100px;
    width: 70px;
    padding: 175px 15px 175px 15px;
}

.btn:hover{
    background-color: grey
}
