/* Set as the default backgound or font of code written in body*/
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: rgb(222, 202, 248) ;
}

*
  {
  margin: 0 auto 0 auto;
  text-align:middle;}

/*Ideal logo header background*/
#idealLogo {
   background-color: white;
   width:1540px;
   height:120px;
}

/*This is used to keep the menu bar aligned to the center, even when using a different size screen*/
#container {
   display: block; 
   height:auto;
   position: relative; 
   width: 1540px;
 }

/*Sign In Page content*/
#signInUpContent {
   width:1520px;
   height:auto;
   background-color: white;
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
}

/*sign in form blue image background*/
#sign-in-form{
   width:300px;
   height: 400px;
   background-image:url(images/signinbg.jpg);
   padding:100px;
   margin:0% auto 0;
   text-align: center;
   }
   
/*Sign In header text*/
#sign-in-form h1{
   color:black;
   margin-bottom:50px;
   font-size: 40px;
   text-align:center;
}

/*Sign In Input Box*/
#input-box{
   border-radius: 20px;
   padding:10px;
   margin: 10px 0 ;
   width:100%;
   border: 1px solid #999;
   outline: none;
}

/*Error message*/
#error {
   color: red;
   font-size: 13px;
   font-weight: italic;
   text-align: center;
}

/*Success message*/
#success {
   color: green;
   font-size: 13px;
   font-weight: bold;
   text-align: center;
}

/*background image for menu listings*/
#menu {
   background-image:url(images/menuBarBg.png);
   width:1540px;
   height:50px;
   float:left;
   clear:both;
}

/*This is the sign up box with the same image with sign in form but diffrent resolution*/
#sign-up-form{
   width:300px;
   height: 500px;
   background-image:url(images/signupbg.jpg);
   padding:100px;
   margin:0% auto 0;
   text-align: center;
   }
   
/*This is for selecting the background colour and the size of the font wirtten in the box*/
#sign-up-form h1{
   color: black;
   margin-bottom:50px;
   font-size: 40px;
   text-align:center;
}

/*This is the sign up box with the same image with sign in form but diffrent resolution*/
#sign-up-form2{
   width:300px;
   height: 600px;
   background-image:url(images/signupbg2.jpg);
   padding:100px;
   margin:0% auto 0;
   text-align: center;
   }

/*This is for selecting the background colour and the size of the font wirtten in the box*/
#sign-up-form2 h1{
   color: black;
   margin-bottom:50px;
   font-size: 40px;
   text-align:center;
}

/*This is used to aligning the text in the menu*/
#menu ul {
	list-style: none;
	padding: 0px;
    margin-left:400px;
	width:900px;
	
}

#menu p2 {
	float: left;
	width: 250px;
	height: 40px;
	display: block;
	text-align: right;
	text-decoration: none;
	color: yellow;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

/*This is used to select font of the menu and making it together in a straight line*/
#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 10px;
	font-size: 15px;
}

button{
   background-color: #80bfec;
   color: black;
   width: 100%;
   padding: 10px;
   border-radius: 20px;
   font-size: 15px;
   margin: 10px 0;
   border: none;
   outline: none;
   cursor: pointer;
}

Button{ 
   background-color: #5093ff;
   display: block;
   margin: 20px 0px 0px 5px;
   text-align: center;
   text-emphasis-color: black;
   border-radius: 12px;
   border: 2px solid #366473;
   padding: 14px 110px;
   outline: none;
   color: white;
   cursor: pointer;
   transition: 0.25px;
 }
 
 button:hover { 
   background-color:  #6666ff;
 }

#content {
   width:1520px;
   height:auto;
   background-color: white;
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
}

/*Footer */
#footer {
   width: 1400px;
   height: 35px;
   padding: 20px 0 4px 0;
   text-align: center;
   background: #555;
   color: rgb(255, 255, 255);
   border-top: 1px solid #FFF;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   font-size: 100%;
}
